<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.workwithiws.phonegapdemo"
        versionCode="10"
        version   = "1.1.0">

    <!-- versionCode is optional and Android only -->

    <name>Phonegap Demo</name>

    <description>
        This is my Phonegap Demo
    </description>

    <author href="http://workwithiws.com" email="jason@workwithiws.com">
        Jason Lyons
    </author>

	<preference name="phonegap-version" value="3.3.0" />
	<gap:plugin name="org.apache.cordova.camera" />

	<!-- 
	<feature name="Camera">
		<param name="ios-package" value="CDVCamera" />
	</feature>
	-->
</widget>
