<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.workwithiws.employeedirectory"
        versionCode="10"
        version   = "1.1.0">

    <!-- versionCode is optional and Android only -->

    <name>Phonegap Demo</name>

    <description>
        This is my Phonegap Demo
    </description>

    <author href="http://workwithiws.com" email="jason@workwithiws.com">
        Jason Lyons
    </author>


	<gap:plugin name="org.apache.cordova.camera" version="0.2.3" />
	
	<feature name="Camera">
		<param name="ios-package" value="CDVCamera" />
	</feature>
	
	<!-- 
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
	-->
</widget>
